p {
  padding: 1em;   
     border: 1px solid black;
}
span {
    padding: 0.5em;
    border: 0.5em;/*on rend la boîte visible, quel que soit son type */
background-color:yellow;
}
.inline {

display: inline;
.block {
    display: block;
}
